<?xml version="1.0"?>
<robot name="sensor_custom" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find jump_start)/urdf/custom_turtlebot_gazebo.urdf.xacro"/>
  <xacro:include filename="$(find jump_start)/urdf/turtlebot_properties.urdf.xacro"/>

  <xacro:property name="camera_link" value="0.035" /> <!-- Size of square 'camera' box -->
  <xacro:property name="custom_cam_py" value="0.075"/>
  <!-- Parameterised in part by the values in turtlebot_properties.urdf.xacro -->
  <xacro:macro name="sensor_custom" params="parent">
    <joint name="camera_rgb_joint" type="fixed">
      <origin xyz="${cam_px} 0 ${cam_pz}" rpy="${cam_or} ${cam_op} ${cam_oy}"/>
      <parent link="${parent}"/>
      <child link="camera_rgb_frame" />
    </joint>
    <link name="camera_rgb_frame"/>

    <joint name="camera_rgb_optical_joint" type="fixed">
      <origin xyz="0 0 0" rpy="${-M_PI/2} 0 ${-M_PI/2}" />
      <parent link="camera_rgb_frame" />
      <child link="camera_rgb_optical_frame" />
    </joint>
    <link name="camera_rgb_optical_frame"/>

    <joint name="camera_joint1" type="fixed">
      <origin xyz="0.15 ${custom_cam_py} -0.016" rpy="${-M_PI/2} 0 ${-M_PI/2}"/>
      <parent link="camera_rgb_frame"/>
      <child link="left"/>
    </joint>
      <link name="left">
      <visual>
       <origin xyz="0 0 0" rpy="0 0 ${M_PI/2}"/>
       <geometry>
         <box size="${camera_link} ${camera_link} ${camera_link}"/>
         <material name="red"/>
       </geometry>

      </visual>

  	  <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
  	    <geometry>
  	      <box size="0.07271 0.27794 0.073"/>
  	    </geometry>
  	  </collision>

      <inertial>
        <mass value="0.564" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.003881243" ixy="0.0" ixz="0.0"
                 iyy="0.000498940" iyz="0.0"
                 izz="0.003879257" />
      </inertial>
    </link>

    <joint name="camera_joint2" type="fixed">
      <origin xyz="0.15 ${-custom_cam_py} -0.016" rpy="0 0 0"/>
      <parent link="camera_rgb_frame"/>
      <child link="right"/>
    </joint>
      <link name="right">
      <visual>
       <origin xyz="0 0 0" rpy="0 0 ${M_PI/2}"/>
       <geometry>
         <box size="${camera_link} ${camera_link} ${camera_link}"/>
         <material name="red"/>
       </geometry>

      </visual>

  	  <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
  	    <geometry>
  	      <box size="0.07271 0.27794 0.073"/>
  	    </geometry>
  	  </collision>

      <inertial>
        <mass value="0.564" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.003881243" ixy="0.0" ixz="0.0"
                 iyy="0.000498940" iyz="0.0"
                 izz="0.003879257" />
      </inertial>
    </link>




    <joint name="camera_joint3" type="fixed">
      <origin xyz="0.15 ${custom_cam_py} -0.016" rpy="0 0 0"/>
      <parent link="camera_rgb_frame"/>
      <child link="oleft"/>
    </joint>
      <link name="oleft" />





    

    <!-- The fixed joints & links below are usually published by static_transformers launched by the OpenNi launch
         files. However, for Gazebo simulation we need them, so we add them here.
         (Hence, don't publish them additionally!) -->

	<!-- Custom sensor for simulation -->
	<turtlebot_sim_3dsensor/> 
  </xacro:macro>
</robot>
